<h4 class = "text-center">This template is built with <i class="fa fa-heart"></i> by</h4>
<ul class= "list-inline">
<li><%= image_tag "https://avatars2.githubusercontent.com/u/39313736?v=4", class: "img-circle" %>
</li>
<li>
<%= image_tag "https://avatars1.githubusercontent.com/u/32071995?v=4", class: "img-circle"%>
</li>
</ul>
